basic/.vscode
basic/.apt_generated
basic/.apt_generated_tests
basic/target/

IdeaChat/.vscode
IdeaChat/.apt_generated
IdeaChat/.apt_generated_tests
IdeaChat/target/

DevGroupFrontend/.vscode
DevGroupFrontend/.angular
DevGroupFrontend/node_modules

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.DS_Store
Thumbs.db

.vscode
.metadata